html, body {
    margin: 3;
    border: 3;
    font-size: 100%;
    background-color: #b990e7;
    color: #000000;
  }
  h1{
    color: rgb(3, 2, 3);
  }
  p {
    color: rgb(3, 2, 3);
  }
  h2{
    color: rgb(2, 1, 2);
  }